body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration-line: none;
  color: #53bb84;
}
a.btn {
  font-size: small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1,
footer {
  background-color: #56bb53;
}

@media screen and (max-width: 991px) {
  .profilepic {
    width: 50%;
    padding-bottom: 20px;
  }
  footer {
    visibility: hidden;
  }
}
